{% extends "layouts/layout.html" %}
{% from 'components/masthead.html' import appMasthead %}
{% block page_title %}Index page for Welseh Revenue Authority Prototype Kit{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
<script src="{{ assetPath }}/javascripts/vendor/accessible-autocomplete.min.js"></script>
{% endblock headEnd %}

{% block headerTop -%}
{% include 'partials/bilingualTopBar.html' %}
{%- endblock headerTop %}

{% block masthead %}
  {% set langLinkSetting = "en" if pageLang == "cy" else "cy"  %}
  {% set mastHeadHtml %}
  <a class="btn btn--black btn--on-black" href="{{ url_for('prototypes.by_post_code', lang=langLinkSetting) }}">{{ "English" if pageLang == "cy" else "Cymraeg" }}</a>
  {% endset %}
  {{ appMasthead({
    "options": { 
      "html": mastHeadHtml
    }
  }) }}
{% endblock masthead %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('base.index') }}">{{ _("Back to list of prototypes") }}</a>

  <span class="app-caption wra-!-margin-top-6">{{ _('Land and property platform') }}</span>
  <h1 class="h1-sm-and-up">{{ _('Transactions by post code') }}</h1>

  
  <form action="{{ url_for('prototypes.by_post_code', lang=pageLang) }}">
    <div class="app-form-group">
      <label for="postcodes" class="app-form-label">{{ form.new_postcode.label.text }}</label>
      {{ form.new_postcode(required=False, class="select wra-!-width-two-thirds")}}
    </div>
    <input class="hidden" type="text" name="selected_postcodes" value="{{ selected_postcodes.keys()|join(';') }}">

    <!-- add can't find post code explainer here -->

    <div class="form-group">
      <button class="app-button app-button-black" type="submit">Save</button>
    </div>
  </form>

  {% if selected_postcodes.keys()|length %}
  <h4 class="">Selected postcodes</h4>
  <ul class="wra-list">
    {% for postcode in selected_postcodes.keys()  %}
    <li>
      <span>{{ postcode }}</span>
      <a href="{{ url_for('prototypes.remove_selected_post_code', lang=pageLang, postcode=postcode, selected_postcodes=selected_postcodes.keys()|join(';')) }}">remove</a>
    </li>
    {% endfor %}
  </ul>

  <section class="row">
    {% for postcode in selected_postcodes.keys()  %}
    <div class="col-lg-4">
      <h4>{{ selected_postcodes[postcode]['postcode_area'] }}</h4>
      <dl>
        <div class="app-dl-item">
          <dt>Transactions</dt>
          <dd>{{ selected_postcodes[postcode]['count'] }}</dd>
        </div>
        <div class="app-dl-item">
          <dt>Average price</dt>
          <dd>{{ selected_postcodes[postcode]['avg'] }}</dd>
        </div>
        <div class="app-dl-item">
          <dt>Max price</dt>
          <dd>{{ selected_postcodes[postcode]['max'] }}</dd>
        </div>
        <div class="app-dl-item">
          <dt>Min price</dt>
          <dd>{{ selected_postcodes[postcode]['min'] }}</dd>
        </div>
      </dl>
    </div>
    {% endfor %}
  </section>
  {% endif %}

</main>
{% endblock %}

{% block pageScripts %}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#new_postcode')
  })
</script>
{% endblock pageScripts %}
