{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('base.index') }}">Back to list of prototypes</a>

  <span class="app-caption wra-!-margin-top-6">What we know about a location</span>
  <h1 class="h1-sm-and-up">Enter location</h1>
  
  <form action="">
    <div class="app-form-group">
      <label for="local_authority" class="app-form-label">Enter location</label>
      <input type="text">
    </div>
  
  </form>

  <p>or</p>

  <div class="app-form-group">
    <button class="app-current-location-button">Use current location</button>
  </div>

  <p>or</p>

  <div class="app-form-group">
    <a class="app-default-location-button" href="#">Use a default location in Wales</a>
  </div>

  <div class="app-current-location">
    <h3>Location</h3>
    <span class="app-current-location--latitude"></span>,
    <span class="app-current-location--longitude"></span>
  </div>

  <ul class="wra-list">
    <li class="app-statement" data-dynamic-element="in-wales-check"></li>
  </ul>

</main>
{% endblock %}

{% block pageScripts %}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src="/static/javascripts/pinpoint.js"></script>
{% endblock pageScripts %}
