{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('base.index') }}">Back to list of prototypes</a>

  <span class="app-caption wra-!-margin-top-6">Land and property platform</span>
  <h1 class="h1-sm-and-up">Tell me about a location</h1>
  
  <div class="app-locator-inputs" data-locator="locator-inputs">
    <form action="">
      <div class="app-form-group">
        <label for="local_authority" class="app-form-label">Enter a latitude and a longitude</label>
        <span class="app-form-hint">For example, 52.011,-3.458</span>
        <input class="app-form-input" type="text" data-locator="locator-input">
      </div>
    
    </form>

    <p>or</p>

    <div class="app-form-group">
      <button class="app-current-location-button app-button app-button-black">Use current location</button>
      <span class="app-input__loader app-secondary-text">Getting location...</span>
    </div>

    <p>or</p>

    <div class="app-form-group">
      <a class="app-default-location-button" href="#">Use a default location in Wales</a>
    </div>
  </div>

  <div data-locator="locator-summary">

    <div class="app-current-location">
      <h2>Location</h2>
      <span class="app-current-location--latitude"></span>,
      <span class="app-current-location--longitude"></span>
    </div>

    <div class="app-locator-results">
      <h3>Land and property platform results</h3>
      <ul class="wra-list">
        <li class="app-statement" data-dynamic-element="in-wales-check"></li>
        <li class="app-statement" data-dynamic-element="which-local-authority">Location is in the <span data-locator="date-record-type"></span> of <span data-locator="date-record-value"></span></li>
        <li class="app-statement" data-dynamic-element="which-ward">Location is in the <span data-locator="date-record-type"></span> of <span data-locator="date-record-value"></span></li>
        <li class="app-statement" data-dynamic-element="which-national-park">Location is in the <span data-locator="date-record-type"></span> of <span data-locator="date-record-value"></span></li>
        <li class="app-statement" data-dynamic-element="which-conservation-area">Location is in the <span data-locator="date-record-type"></span> of <span data-locator="date-record-value"></span></li>
      </ul>

      <h3>External services' results</h3>
      <ul class="wra-list">
        <li class="app-statement app-statement--external">OSM address:
          <span class="app-dynamic__osm-address"></span>
        </li>
        <li class="app-statement app-statement--external">What Three Words:
          <span class="app-dynamic__wtw"></span>
        </li>
      </ul>
    </div>

  </div>

</main>
{% endblock %}

{% block pageScripts %}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src="/static/javascripts/pinpoint.js"></script>
{% endblock pageScripts %}
