{% extends "layouts/layout.html" %}
{% from 'components/masthead.html' import appMasthead %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block headerTop -%}
  {% from 'wra-frontend/components/header/macro.jinja' import wraHeader -%}
  {{ wraHeader({
    "phaseMarker": {
      "id": "alpha-btn",
      "classes": "btn btn--beta btn--light",
      "text": _("Proof of concept")
    },
    "feedback": {
      "email": "#",
      "text": _("Give feedback")
    },
    "minimise": {
      "text": _("minimise")
    }
  }) }}
{%- endblock headerTop %}

{% block masthead %}
  {% set langLinkSetting = "en" if pageLang == "cy" else "cy"  %}
  {% set mastHeadHtml %}
  <a class="btn btn--black btn--on-black" href="{{ url_for('prototypes.pinpoint_bi', lang=langLinkSetting) }}">{{ "English" if pageLang == "cy" else "Cymraeg" }}</a>
  {% endset %}
  {{ appMasthead({
    "options": { 
      "html": mastHeadHtml
    }
  }) }}
{% endblock masthead %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('base.index') }}">{{ _("Back to list of prototypes") }}</a>

  <span class="app-caption wra-!-margin-top-6">{{ _('Land and property platform') }}</span>
  <h1 class="h1-sm-and-up">{{ _('Tell me about a location') }}</h1>
  
  <div class="app-locator-inputs" data-locator="locator-inputs">
    <form action="">
      <div class="app-form-group">
        <label for="local_authority" class="app-form-label">{{ _('Search for a location') }}</label>
        <span class="app-form-hint">{{ _('Enter a post code, for example, SA71 5AT. Or a lat and lng, for example, 52.011,-3.458.') }}</span>
        <input class="app-form-input" type="text" data-locator="locator-input">
      </div>
    
    </form>

    <p>{{ _('or') }}</p>

    <div class="app-form-group">
      <button class="app-current-location-button app-button app-button-black">{{ _('Use current location') }}</button>
      <span class="app-input__loader app-secondary-text">{{ _('Getting location...') }}</span>
    </div>

    <p>{{ _('or') }}</p>

    <div class="app-form-group">
      <a class="app-default-location-button" href="#">{{ _('Use a default location in Wales') }}</a>
    </div>
  </div>

  <div data-locator="locator-summary">

    <div class="app-current-location">
      <h2>{{ _('Location') }}</h2>
      <div>
        <span class="app-current-location--postcode"></span>
        <br />{{ _('centre at') }} 
      </div>
      <span class="app-current-location--latitude"></span>,
      <span class="app-current-location--longitude"></span>
    </div>

    {% macro appStatementItem(params) %}
    <li class="app-statement" data-dynamic-element="{{ params.dataElementName }}">
      <details class="app-details">
        <summary class="app-details__summary app-collapsible__summary">
          {{ _('Location is in the') }} <span data-locator="data-record-type" data-record-type="{{ params.dataRecordType }}"></span> {{ _('of') }} <span data-locator="data-record-value" data-no-welsh-warning="{{ _('Welsh name not in data record') }}"></span>
        </summary>
        <div class="app-details__details app-collapsible__body">
          <dl class="app-statement__properties"></dl>
        </div>
      </details>
    </li>
    {% endmacro %}

    <div class="app-locator-results">
      <h3>{{ _('Results from the Land and property platform') }}</h3>
      <ul class="wra-list">
        <li class="app-statement" data-dynamic-element="in-wales-check" data-passed-check-text="{{ _('Location in Wales') }}" data-not-passed-check-text="{{ _('Location NOT in Wales') }}"></li>
        {{ appStatementItem({ "dataElementName": "which-local-authority", "dataRecordType": _('local authority') }) }}
        {{ appStatementItem({ "dataElementName": "which-ward", "dataRecordType": _('ward') }) }}
        {{ appStatementItem({ "dataElementName": "which-national-park", "dataRecordType": _('national park') }) }}
        {{ appStatementItem({ "dataElementName": "which-conservation-area", "dataRecordType": _('conservation area') }) }}
      </ul>

      <div class="app-tax-section">
        <h3>Tax information</h3>
        <ul class="wra-list">
          <li class="app-statement app-statement--tax" data-tax-info="ltt">
          </li>
          <li class="app-statement app-statement--tax" data-tax-info="council-tax">
          </li>
        </ul>
      </div>

      <h3>{{ _('Results from external services') }}</h3>
      <ul class="wra-list">
        <li class="app-statement app-statement--external">{{ _('OSM address') }}:
          <span class="app-dynamic__osm-address"></span>
        </li>
        <li class="app-statement app-statement--external">{{ _('What 3 Words') }}:
          <span class="app-dynamic__wtw"></span>
        </li>
      </ul>
    </div>

  </div>

</main>
{% endblock %}

{% block pageScripts %}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src="/static/javascripts/pinpoint.js"></script>
{% endblock pageScripts %}
