{% extends "layouts/layout.html" %}
{% from 'components/masthead.html' import appMasthead %}
{% block page_title %}Index page for Welseh Revenue Authority Prototype Kit{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
<script src="{{ assetPath }}/javascripts/vendor/accessible-autocomplete.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.css" type="text/css" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.js"></script>
{% endblock headEnd %}

{% block headerTop -%}
{% include 'partials/bilingualTopBar.html' %}
{%- endblock headerTop %}

{% block masthead %}
  {% set langLinkSetting = "en" if pageLang == "cy" else "cy"  %}
  {% set mastHeadHtml %}
  <a class="btn btn--black btn--on-black" href="{{ url_for('prototypes.area_selection_options', lang=langLinkSetting) }}">{{ "English" if pageLang == "cy" else "Cymraeg" }}</a>
  {% endset %}
  {{ appMasthead({
    "options": { 
      "html": mastHeadHtml
    }
  }) }}
{% endblock masthead %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('base.index') }}">{{ _("Back to list of prototypes") }}</a>

  <span class="app-caption wra-!-margin-top-6">{{ _('Land and property platform') }}</span>
  <h1 class="h1-sm-and-up">{{ _('Selecting areas') }}</h1>

  <div class="row app-selecting-area">
    <div class="col-lg-6">
      <h3>{{ _('Radius round a point') }}</h3>
      <p>{{ _('Clicking on the map will produce a circle round the point. The diameter of the circle is 10 kms. This circle will be used to generate transaction statistics') }}.</p>
      <div class="app-results"></div>
    </div>
    <div class="col-lg-6">
      <div class="app-map__wrapper" style="min-height: 400px;">
        <div class="app-loader"></div>
        <div id="mapId" class="app-map"></div>
      </div>
    </div>
  </div>

  <div class="row app-selecting-area wra-!-margin-top-9">
    <div class="col-lg-6">
      <h3>{{ _('Bespoke area') }}</h3>
      <p>{{ _('Use the map to draw a bespoke area. This area will be used to generate transaction statistics') }}.</p>
      <div class="app-results"></div>
    </div>
    <div class="col-lg-6">
      <div class="app-map__wrapper" style="min-height: 400px;" data-module="bespoke-selection">
        <div class="app-loader"></div>
        <div id="mapId2" class="app-map"></div>
      </div>
    </div>
  </div>

  <div class="row app-selecting-area wra-!-margin-top-9">
    <div class="col-lg-6">
      <h3>{{ _('Existing areas') }}</h3>
      <div class="app-selecting__options">
        <p>{{ _('Select a layer with existing areas') }}</p>
        <ul class="wra-list app-checkboxes wra-!-margin-bottom-0" data-module="option-controls" role="group">

          <li class="app-map__layer-item" data-layer-control="laBoundaries" data-layer-type="polygon" data-layer-endpoint="https://landplatform.azurefd.net/geoserver/test/ows?service=WFS&amp;version=1.0.0&amp;request=GetFeature&amp;typeName=test%3AHighWaterMark4326&amp;maxFeatures=50&amp;outputFormat=application%2Fjson" data-layer-colour="#008888" data-layer-control-active="true">
            <div class="app-radio__group">
              <input class="" id="option-controls-1" name="option-controls" type="radio" value="laBoundaries">
              <label class="app-label" for="option-controls-1">
                <span class="app-label__key">
                  <span class="app-label__key__symbol" style="border-color: #008888; background: rgba(0,136,136,0.5);"></span>
                  {{ _('Local authority boundaries') }}
                </span>
              </label>
            </div>
          </li>      
                    
          <li class="app-map__layer-item" data-layer-control="conservationareas" data-layer-type="polygon" data-layer-endpoint="https://landplatform.azurefd.net/geoserver/test/ows?service=WFS&amp;version=1.0.0&amp;request=GetFeature&amp;typeName=test%3Aconservation_areas&amp;maxFeatures=550&amp;outputFormat=application%2Fjson" data-layer-colour="#912b88" data-layer-control-active="true">
            <div class="app-radio__group">
              <input class="" id="option-controls-2" name="option-controls" type="radio" value="conservationareas">
              <label class="app-label" for="option-controls-2">
                <span class="app-label__key">
                  <span class="app-label__key__symbol" style="border-color: #912b88; background: rgba(145,43,136,0.5);"></span>
                  {{ _('Conservation areas') }}
                </span>
              </label>
            </div>
          </li>
                    
        </ul>
        <p>{{ _('Then pick a shape to see the statistics for that area') }}.</p>
      </div>
      <div class="app-results"></div>
    </div>
    <div class="col-lg-6">
      <div class="app-map__wrapper" style="min-height: 400px;" data-module="existing-selection">
        <div class="app-loader"></div>
        <div id="mapId3" class="app-map"></div>
      </div>
    </div>
  </div>

</main>
{% endblock %}

{% block footerStart %}
<div class="prototype-panel">
  <div class="container-fluid">
    <h5>{{ _('This is a prototype') }}</h5>
    <div class="row">
      <div class="col-lg-8">
        <p>{{ _('The data used in this prototype has been collected from') }} <a href="https://landregistry.data.gov.uk/app/qonsole">{{ _('HM Land Registry price paid dataset') }}</a>.</p>
        <p>{{ _('We have not included data from before 2018, when the Welsh Revenue Authority was formed. This means the number of records is comparable with the number of LTT transactions there have been in that time') }}.</p>
      </div>
    </div>
  </div>
</div>

{% endblock footerStart %}

{% block pageScripts %}
<template id="stats-template">
  <div class="app__data-stats">
    <div class="app-data-stat--small">
      <span class="app-data-stat__value" data-aggregate="transactions"></span>
      <p class="app-data-stat__label">{{ _('Total transactions') }}</p>
    </div>

    <div class="app-data-stat--small">
      <span class="app-data-stat__value">£<span data-aggregate="avg-price"></span></span>
      <p class="app-data-stat__label">{{ _('Avg transaction price') }}</p>
    </div>

    <div class="app-data-stat--small">
      <span class="app-data-stat__value">£<span data-aggregate="max-price"></span></span>
      <p class="app-data-stat__label">{{ _('Max transaction price') }}</p>
    </div>

    <div class="app-data-stat--small">
      <span class="app-data-stat__value">£<span data-aggregate="min-price"></span></span>
      <p class="app-data-stat__label">{{ _('Min transaction price') }}</p>
    </div>
  </div>
  <p class="app-small-text">{{ _('These figures are estimates based on data from Land Registry dating back April 2018') }}.</p>
</template>

<template id="not-a-polygon">
  <div class="app-inset-text">
    <h4>{{ _('Unable to get stats') }}</h4>
    <p>{{ _('The API currently only supports geometries that are Polygons') }}. {{ _('The shape you clicked on is a') }} <span data-dynamic="shape-type"></span>.</p>
    <p>{{ _('Choose another area to try again') }}.</p>
  </div>
</template>

<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src='{{ assetPath }}/javascripts/selecting-areas-on-map.js'></script>
{% endblock pageScripts %}
