{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('base.index') }}">Back to list of prototypes</a>

  <span class="app-caption wra-!-margin-top-6">Data platform</span>
  <h1 class="h1-sm-and-up">Explore land and property data</h1>

  <div class="row">
    <div class="col-lg-8">
      <p>Data contained in the land and property data platform is displayed on the map.</p>
      <p>You can click on a location to explore the data.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      {% macro layerControlItem(layer) %}
      <li class="app-map__layer-item" data-layer-control="{{ layer.dataset }}"
      {% if layer.type %}data-layer-type={{layer.type}}{% endif %} 
      data-layer-endpoint="{{ layer.endpoint }}"
      data-layer-colour="{% if layer.paint_options %}{{ layer.paint_options.colour }}{% endif %}">
        <div class="app-checkboxes__item">
          <input class="app-checkboxes__input" id="{{ layer.dataset }}" name="{{ layer.dataset }}" type="checkbox" value="{{ layer.dataset }}" {{ "checked='checked'" if layer.default_checked }}>
          <label class="app-label app-checkboxes__label" for="{{ layer.dataset }}">
            <span class="app-label__key">
              <span class="app-label__key__symbol"
              style="border-color: {{layer.paint_options.colour|default('#003078')}}; background: rgba({{layer.paint_options.colour|default('#003078')|hex_to_rgb}},0.5);"></span>
              {{ layer.display_name }}
            </span>
            <span class="app-map__layer-item__loader">Loading...</span>
          </label>
        </div>
      </li>
      {% endmacro %}

      <div class="app-map__wrapper" style="min-height: 700px;"> 
        <!-- map --> 
        <div class="app-map" id="mapId"></div>
        <!-- side panel -->
        <div class="app-map__side-panel app-map__side-panel--full js-hidden" tabindex="-1" role="dialog" aria-hidden="false" open="true" aria-modal="true">
          <!-- pane 1 -->
          <div class="app-map__pane">
            <div class="app-map__pane__header">
              <h3 class="app-map__pane__heading">Datasets</h3>
            </div>
            <div class="app-map__pane__body">
              <ul class="wra-list app-checkboxes wra-!-margin-bottom-0" data-module="layer-controls" role="group">
                {% for dataset in datasets %}
                {{ layerControlItem(dataset) }}
                {% endfor %}
              </ul>
            </div>
          </div><!-- /end pane 1 -->
          <div class="app-map__pane">
            <div class="app-map__pane__header">
              <h3 class="app-map__pane__heading">Selected location</h3>
            </div>
            <div class="app-map__pane__body">
              <dl>
                <div class="app-data-item">
                  <dt>What Three Words</dt>
                  <dd class="app-dynamic__wtw app-no-value"></dd>
                </div>
                <div class="app-data-item">
                  <dt>OSM address</dt>
                  <dd class="app-dynamic__osm-address"></dd>
                </div>
                <div class="app-data-item">
                  <dt>Intersecting areas</dt>
                  <dd class="app-features">
                    <ul class="app-features__list"></ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div><!-- /end side-panel -->
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <hr class="app-break-xl" />
    </div>
  </div>
</main>
{% endblock %}

{% block pageScripts %}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src="/static/javascripts/explorer-map.js"></script>
{% endblock pageScripts %}
