{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('map.local_authority') }}">Back to Select a local authority</a>

  <span class="app-caption wra-!-margin-top-6">Pinpoint a location</span>
  <h1 class="h1-sm-and-up">Set a location on the map</h1>

  <div class="row">
    <div class="col-lg-8">
      <p>Click on the map to select the location.</p>
      <p>A marker will appear where you click. To update the location click on another area of the map.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      {% macro layerControlItem(layer) %}
      <li class="app-map__layer-item" data-layer-control="{{ layer.dataset }}"
      {% if layer.type %}data-layer-type={{layer.type}}{% endif %} 
      data-layer-endpoint="{{ layer.endpoint }}"
      data-layer-colour="{% if layer.paint_options %}{{ layer.paint_options.colour }}{% endif %}">
        <div class="app-checkboxes__item">
          <input class="app-checkboxes__input" id="{{ layer.dataset }}" name="{{ layer.dataset }}" type="checkbox" value="{{ layer.dataset }}" {{ "checked='checked'" if layer.default_checked }}>
          <label class="app-label app-checkboxes__label" for="{{ layer.dataset }}">
            <span class="app-label__key">
              <span class="app-label__key__symbol"
              style="border-color: {{layer.paint_options.colour|default('#003078')}}; background: rgba({{layer.paint_options.colour|default('#003078')|hex_to_rgb}},0.5);"></span>
              {{ layer.display_name }}
            </span>
          </label>
        </div>
      </li>
      {% endmacro %}

      <div class="app-map__wrapper" style="min-height: 700px;"> 
        <!-- map --> 
        <div class="app-map" id="mapId"></div>
        <!-- side panel -->
        <div class="app-map__side-panel app-map__side-panel--full js-hidden" tabindex="-1" role="dialog" aria-hidden="false" open="true" aria-modal="true">
          <div class="app-map__pane__header">
            <h3 class="app-map__pane__heading">Datasets</h3>
          </div>
          <div class="app-map__pane__body">
            <ul class="wra-list wra-!-margin-bottom-0" data-module="layer-controls" role="group">
              {% for dataset in datasets %}
              {{ layerControlItem(dataset) }}
              {% endfor %}
            </ul>
          </div>
        </div><!-- /end side-panel -->
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <hr class="app-break-xl" />
      <p>This proof of concept uses <a href="https://datamap.gov.wales/layergroups/inspire-wg:LocalAuthorities">local authority boundaries</a> from <a href="https://datamap.gov.wales/">DataMapWales</a>.</p>
      <p>We converted the coordinates from eastings and northings to wgs84 so that we could display the boundaries on the map.</p>
      <a href="/static/data/la_boundaries_wgs84.geojson" class="app-btn wra-!-margin-top-3">Download the geojson</a>
    </div>
  </div>
</main>
{% endblock %}

{% block pageScripts %}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src="/static/javascripts/explorer-map.js"></script>
{% endblock pageScripts %}
