{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block content %}
<main id="content" role="main">

  <span class="app-caption wra-!-margin-top-9">Pinpoint a location</span>
  <h1 class="h1-sm-and-up">Find your local authority</h1>

  <div class="row">
    <div class="col-lg-8">
      <div id="mapId" style="min-height: 600px;"></div>
    </div>
    <div class="col-lg-4">Panel</div>
  </div>
</main>
{% endblock %}

{% block pageScripts %}
<script>
  const createMap = function () {
    var map = new maplibregl.Map({
      container: "mapId",// container id
      style: "/static/javascripts/base-tile.json",
      center: [-3.7, 52.4], // starting position [lng, lat]
      zoom: 6.89// starting zoom
    });

    map.addControl(new maplibregl.FullscreenControl({
      container: document.querySelector(this.mapContainerSelector)
    }), 'bottom-left');
    return map;
  };

  const createMarker = function () {
    return new maplibregl.Marker()
  }

  function renderBoundaries(map) {
    fetch('/static/data/la_boundaries_wgs84.geojson')
    .then(response => response.json())
    .then(function(data) {
      console.log(data)
      map.addSource('laBoundaries', {
        'type': 'geojson',
        'data': '/static/data/la_boundaries_wgs84.geojson'
      })
      map.addLayer({
        'id': 'laLayer',
        'type': 'fill',
        'source': 'laBoundaries',
        'layout': {},
        'paint': {
          'fill-color': '#088',
          'fill-opacity': 0.4
        }
      });
      map.addLayer({
        'id': 'laLayerLine',
        'type': 'line',
        'source': 'laBoundaries',
        'layout': {},
        'paint': {
          'line-color': '#088',
          'line-opacity': 0.8,
          'line-width': 1
        }
      });
    });
  }

  const map = createMap()
  const marker = createMarker()
  // add listener for when initial map loaded
  map.on('load', function(e) {
    console.log("map loaded")
    renderBoundaries(map)
  });
  // add listener for when map clicked on
  map.on('click', function(e) {
    console.log("map clicked on", e)
    console.log("click location", e.lngLat.lng, e.lngLat.lat)

    // put marker at point user clicked
    marker
      .setLngLat([e.lngLat.lng, e.lngLat.lat])
      .addTo(map)
  });


</script>
{% endblock pageScripts %}
