{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock headEnd %}

{% block content %}
<main id="content" role="main">
  <a class="app-back-link" href="{{ url_for('map.know_address') }}">Back to Do you know a postal address</a>

  <form action="">
    <span class="app-caption wra-!-margin-top-6">Pinpoint a location</span>
    <h1 class="h1-sm-and-up">{{ form.local_authority.label.text }}</h1>
    <div class="app-form-group">
      <label for="local_authority" class="app-form-label">Select local authority</label>
      {{ form.local_authority(required=False, class="select wra-!-width-two-thirds")}}
    </div>
    <div class="form-group">
      <button class="app-button app-button-black" type="submit">Continue</button>
    </div>
  </form>

</main>
{% endblock %}

