.app-loader {
  height: 4px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #dee0e2;
  top: -4px;
  left: 0;
}

.app-loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -20%;
  width: 20%;
  height: 4px;
  background-color: #005ea5;
}

@keyframes loading {
  from {
    left: -20%;
  }
  50% {
    left: 55%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

// fetching-data is to class that is toggled
.fetching-data .app-loader:before {
  display: block;
  animation: loading 1s linear infinite;
}
