{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}

{% from 'components/masthead.html' import appMasthead %}
{% block masthead %}
  {% set langLinkSetting = "en" if pageLang == "cy" else "cy"  %}
  {% set mastHeadHtml %}
  <a class="btn btn--black btn--on-black" href="{{ url_for('base.index_bi', lang=langLinkSetting) }}">{{ "English" if pageLang == "cy" else "Cymraeg" }}</a>
  {% endset %}
  {{ appMasthead({
    "options": { 
      "html": mastHeadHtml
    }
  }) }}
{% endblock masthead %}

{% block content %}
<main id="content" role="main">
  <h1 class="govuk-heading-xl">{{ _('WRA Prototypes') }}</h1>

  <p>{{ _('The following links are to individual prototypes and page designs created by the Welsh Revenue Authority whilst exploring a land and property data platform.') }}</p>

  <div class="content-entity container-fluid">
  
    <div class="row">
      <div class="content-entity__block content-entity__block--thick-bdr">
        <div class="col-lg-4 list-group--large categories">
          <div class="index-list__title">
            <h3 class="app-index-list__heading">{{ _('Services') }}</h3>
          </div>
          <div class="index-list__meta">
            <span>{{ _('Prototypes and experiments to explore a land and property data platform.') }}</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="index-list-latest mt-0 list-group--bdr-top-sm">
            <ul class="wra-list index-list__items">
              <li class="index-list__item">
                <a class="index-list__title" href="https://land-property-platform.herokuapp.com/"><span>{{ _('Platform proof-of-concept') }}</span></a>
                <p class="index-list__desc">{{ _('A site for the proof-of-concept data platform.') }}</p>
              </li>
              <li class="index-list__item">
                <a class="index-list__title" href="http://www.isitin.wales/"><span>{{ _('Is it in Wales?') }}</span></a>
                <p class="index-list__desc">{{ _('A lightweight test service that could be built on top of a platform.') }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="content-entity__block content-entity__block--thick-bdr">
        <div class="col-lg-4 list-group--large categories">
          <div class="index-list__title">
            <h3 class="app-index-list__heading">{{ _('Website') }}</h3>
          </div>
          <div class="index-list__meta">
            <span>{{ _('Prototypes and experiments for working in the open.') }}</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="index-list-latest mt-0 list-group--bdr-top-sm">
            <ul class="wra-list index-list__items">
              <li class="index-list__item">
                <a class="index-list__title" href="https://welsh-revenue-authority.github.io/property-data-poc/en/"><span>{{ _('Welsh Revenue Authority Land and property proof-of-concept team site') }}</span></a>
              </li>

              <li class="index-list__item">
                <a class="index-list__title" href="https://welsh-revenue-authority.github.io/weeknotes/property-data-poc/"><span>{{ _('Team weeknotes') }}</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="content-entity__block content-entity__block--thick-bdr">
        <div class="col-lg-4 list-group--large categories">
          <div class="index-list__title">
            <h3 class="app-index-list__heading">{{ _('Prototypes') }}</h3>
          </div>
          <div class="index-list__meta">
            <span>{{ _('Small, throw away experiments to try out a thing') }}.</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="index-list-latest mt-0 list-group--bdr-top-sm">
            <ul class="wra-list index-list__items">
              <li class="index-list__item">
                <a class="index-list__title" href="{{ url_for('map.index') }}"><span>{{ _('Local authority region map') }}</span></a>
                <p>{{ _('Testing out showing boundary data on a map') }}.</p>
              </li>
              <li class="index-list__item">
                <a class="index-list__title" href="{{ url_for('map.know_address') }}"><span>{{ _('Provide a location journey') }}</span></a>
                <p>{{ _('Testing out a flow to help a user narrow down the area they will select a location in') }}.</p>
              </li>
              <li class="index-list__item">
                <a class="index-list__title" href="{{ url_for('map.explorer') }}"><span>{{ _('Explore land and property data') }}</span></a>
                <p>{{ _('This prototype tests displaying and interacting with multiple datasets on a map') }}.</p>
              </li>
              <li class="index-list__item">
                <a class="index-list__title" href="{{ url_for('map.search') }}"><span>{{ _('Draw to search') }}</span></a>
                <p>{{ _('A prototype to test using the bounding box API capability') }}.</p>
              </li>
              <li class="index-list__item">
                <a class="index-list__title" href="{{ url_for('prototypes.pinpoint_bi', lang=pageLang) }}"><span>{{ _('Tell me about a location') }}</span></a>
                <p>{{ _('A prototype of a map-less service that tells a user information about a location') }}.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
{% endblock %}
