{% extends "layouts/layout.html" %}
{% block page_title %}WRA Prototype Kit index{% endblock %}
{% block content %}
<main id="content" role="main">
  <h1 class="govuk-heading-xl">WRA Prototypes</h1>

  <p>The following links are to individual prototypes and page designs created by the WRA whilst exploring a land and property data platform.</p>

  <div class="content-entity container-fluid">
  
    <div class="row">
      <div class="content-entity__block content-entity__block--thick-bdr">
        <div class="col-lg-4 list-group list-group--large categories">
          <div class="index-list__title">
            <h3>Services</h3>
          </div>
          <div class="index-list__meta">
            <span>Prototypes and experiments to explore a land and property data platform.</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="index-list-latest mt-0 list-group--bdr-top-sm">
            <ul class="index-list__items">
              <li class="index-list__item">
                <div class="index-list__title">
                  <a href="https://land-property-platform.herokuapp.com/"><span>Platform POC</span></a>
                  <p>A site for the proof of concept data platform.</p>
                </div>
              </li>
              <li class="index-list__item">
                <div class="index-list__title">
                  <a href="http://www.isitin.wales/"><span>Is it in Wales?</span></a>
                  <p>A lightweight test service that could be built on top of a platform.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="content-entity__block content-entity__block--thick-bdr">
        <div class="col-lg-4 list-group list-group--large categories">
          <div class="index-list__title">
            <h3>Website</h3>
          </div>
          <div class="index-list__meta">
            <span>Prototypes and experiments for working in the open.</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="index-list-latest mt-0 list-group--bdr-top-sm">
            <ul class="index-list__items">
              <li class="index-list__item">
                <div class="index-list__title">
                  <a href="https://welsh-revenue-authority.github.io/property-data-poc/en/"><span>WRA Land and property data poc team site</span></a>
                </div>
              </li>

              <li class="index-list__item">
                <div class="index-list__title">
                  <a href="https://welsh-revenue-authority.github.io/weeknotes/property-data-poc/"><span>Team weeknotes</span></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="content-entity__block content-entity__block--thick-bdr">
        <div class="col-lg-4 list-group list-group--large categories">
          <div class="index-list__title">
            <h3>Prototypes</h3>
          </div>
          <div class="index-list__meta">
            <span>Small, throw away experiments to try out a thing.</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="index-list-latest mt-0 list-group--bdr-top-sm">
            <ul class="index-list__items">
              <li class="index-list__item">
                <div class="index-list__title">
                  <a href="{{ url_for('map.index') }}"><span>Local authority region map</span></a>
                  <p>Testing out putting some boundary data on a map.</p>
                </div>
              </li>
              <li class="index-list__item">
                <div class="index-list__title">
                  <a href="{{ url_for('map.know_address') }}"><span>Provide a location journey</span></a>
                  <p>Testing out a flow to help a user narrow down the area they will select a location in.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
{% endblock %}
