$govwales-blue: #0360a6;
$wra-organisation-colour: rgb(41,35,92);

$govuk-orange: #f47738;

/// Text colour
///
/// Used for headings and main body text
///
/// @type Colour
/// @access public

$wra-text-colour: #1f1f1f;

/// Focus colour
///
/// Used for outline (and background, where appropriate) when interactive
/// elements (links, form controls) have keyboard focus.
///
/// @type Colour
/// @access public

$wra-focus-colour: #ffd530 !default;

/// Input hover colour
///
/// Used for hover states on form controls
///
/// @type Colour
/// @access public

$wra-hover-colour: #b1b4b6;


/// Error colours
///
/// Used to show errors and falsey things
///
/// @type Colour
/// @access public

$app-error-colour: #a11;
$app-error-bg-colour: #ffe4e5;


/// Secondary text colour
/// 
/// Used for captions and hint text
///
/// @type Colour
/// @access public

$wra-secondary-text-colour: #666666;
