.app-form__standout-container {
  background: $wra-standout-box-colour;
  margin: 30px 0 45px;
  padding: 40px;

  .autocomplete__input {
    background-color: #fff;
  }
}

.app-postcode-results,
.app-postcode-selected {
  margin-top: $wra-gutter * 2;
}

.app-postcode-summary {
  margin-bottom: $wra-gutter;
  // border-top: 4px solid $wra-organisation-colour;
  border-bottom: 4px solid $wra-organisation-colour;

  $container-spacing: 20px;
  h4 {
    margin-top: $container-spacing;
    font-size: 27px;
  }

  dl {
    margin-bottom: $container-spacing;
  }

  .app-dl-item {
    border-bottom: 0;

    &:last-child {
      padding-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}

// used to hide parts of UI when no postcodes are selected
.app-postcode-stat-results--none {
  .app-postcode-stat-results__heading,
  .app-postcode-selected,
  .app-postcode-results {
    display: none;
  }
}


// -------
// Map panels
// ------------

[data-module="postcode-viewer-panel"] {
  position: absolute;
  display: none;
  align-items: center;
  background: #fff;
  margin: $wra-gutter;
  padding: 10px $wra-gutter-half;
  box-shadow: 0 0 3px 0 rgba($wra-dark-grey, .75);
  z-index: 100;

  .active-mode & {
    display: flex;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  .postcode-viewer__label {
    padding-left: $wra-gutter-half;
    line-height: 1;
  }

  .postcode-viewer__label__area {
    font-weight: 700;
  }
}

// selection section

.app-selection-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: $wra-gutter;
  margin-bottom: $wra-gutter * 3;
  border: 1px solid $wra-border-colour;

  .app-selection__state {
    @include mq($from: tablet) {
      width: 25%;
      order: 1;
    }
  }

  .app-map__wrapper {
    width: 75%;
    order: 2;
  }

  .app-aggregate-summary {
    width: 100%;
    order: 3;
  }
}

.app-selection-section__heading {
  margin-top: 0;
}

.app-selection__state,
.app-aggregate-summary {
  padding: $wra-gutter;
}

.app-selection__state {
  @include mq($from: tablet) {
    padding-right: $wra-gutter * 1.5;
  }
}

.app-aggregate-summary {
  background: $wra-standout-box-colour;
  @include mq($from: tablet) {
    padding-left: $wra-gutter * 1.5;
  }

  .app-selection-section__heading {
    margin-bottom: 20px;
  }

  .app__data-stats {
    display: flex;
    justify-content: space-between;
  }

  .app-data-stat {
    margin-bottom: $wra-gutter;

    &:last-child {
      padding-right: $wra-gutter;
    }
  }

  p:last-child {
    margin-bottom: 5px;
  }
}
