.app-locator-inputs {
  border-bottom: 3px solid $wra-border-colour;
}

.app-current-location {
  margin-bottom: $wra-gutter;
}

.app-statement {
  // shpuld be able to use wra-spacing
  margin-bottom: 5px;
  padding: $wra-gutter;
  background: $wra-border-colour;
  border-left: 4px solid $wra-organisation-colour;

  // used by wales-gel
  .table {
    margin-bottom: 0;
  }

  // overriding Wales gel making it secondary text colour
  caption {
    color: $wra-text-colour;
  }
}

.app-statement--external {
  border-color: $govuk-orange;
}

.app-statement--error {
  background: $app-error-bg-colour;
  border-color: $app-error-colour;
}

.app-statement--tax {
  border-color: rgb(189,66,64);

  .app-dynamic--council-tax-area {
    font-weight: bold;
  }
}

.app-statement__warning {
  padding-left: $wra-gutter-half;
  color: $wra-secondary-text-colour;
  font-size: 16px;
}

.app-statement__extra-info {
  margin: $wra-gutter 0 0;
  font-size: 16px;

  & + .app-statement__disclaimer {
    margin-top: $wra-gutter-half;
    margin-bottom: 0;
  }
}

.app-statement__disclaimer {
  font-size: 16px;
}

.app-secondary-text {
  color: $wra-secondary-text-colour;
}

.app-input__loader {
  display: none;
}

.loading > .app-input__loader {
  display: inline;
}

.app-statement__properties {
  padding: $wra-gutter-half;
  margin-top: $wra-gutter;
  margin-bottom: 0;
  background: #fff;
  font-size: 16px;
}

// to do: equal dynamic width dts
.app-dl__item__group {
  dt,
  dd {
    display: inline-block;
    font-weight: normal;
  }

  dt {
    min-width: 130px;
    padding-right: $wra-gutter * 2;
    font-weight: bold;
  }
}
