.app-current-location {
  margin-bottom: $wra-gutter;
}

.app-statement {
  // shpuld be able to use wra-spacing
  margin-bottom: 5px;
  padding: $wra-gutter;
  background: $wra-border-colour;
  border-left: 4px solid $wra-organisation-colour;
}

.app-statement--error {
  background: $app-error-bg-colour;
  border-color: $app-error-colour;
}
