@import "wra-frontend/wra-frontend";

@import "settings/all";
@import "helpers/all";
@import "objects/all";

@import "common/all";

@import "components/back-link";
@import "components/buttons";
@import "components/checkboxes";
@import "components/data-item";
@import "components/details";
@import "components/inset-text";
@import "components/loader";
@import "components/map";
@import "components/masthead";
@import "components/radios";
@import "components/selected-item";
@import "components/prototype-panel";
@import "components/tables";

@import "pages/pinpoint";
@import "pages/by-postcode";

@import "vendor/accessible-autocomplete";

.empty-hidden {
  display: none;
}

.app-no-value {
  color: #666;
  font-weight: 300;
}

.app-dl-item {
  padding: 10px 0;
  border-bottom: 1px solid #b9b9b9;

  dt, dd {
    display: inline;
  }

  dt {
    font-weight: bold;
  }

  dd {
    font-size: 1em;
    font-weight: normal;
  }
}

.app-information-panel {
  border-top: 10px solid #0360a6;
  padding-top: 25px;
}

.app-break-xl {
  border-top: 0;
  border-bottom: 5px solid #e5e5e5;
  margin: 20px 0;
  @include mq($from: tablet) {
    margin: 30px 0;
  }
}

.app-btn {
  display: inline-block;
  padding: 15px 20px;
  background: transparent;
  color: #0360a6;
  border: 2px solid #0360a6;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
  outline: 0;
}

.app-form-group {
  font-size: 20px;
  margin-bottom: 15px;

  &--width-50 {
    @include mq($from: desktop) {
      width: 50%;
    }
  }
}

.app-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.app-form-group__error {
  border-left: 3px solid #a11;
  padding-left: 8px;
}

.app-form-group__error-message {
  display: inline-block;
  margin-left: -8px;
  padding: 16px;
  background-color: #ffe4e5;

  &:last-of-type {
    margin-bottom: 8px;
  }
}

// -----------------------------------

.app-features__list,
.properties-list {
  padding-left: 0;
  list-style: none;
}

.app-features__list {
  font-family: monospace;
  font-size: 14px;

  .app-features__list__heading {
    margin: 5px 0;
    font-size: 15px;
    text-decoration: underline;
  }

  .properties-list {
    font-size: 14px;
  }
}

// ----------------------------------
// index page styles
// ----------------------------------

.app-index-list__heading {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 22px;
  color: #aa1111;
  font-weight: bold;
  display: block;
  text-decoration: none;
  margin-top: 0;
}

.index-list__item {
  margin-bottom: $wra-gutter;

  .index-list__title {
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
  }
}

.index-list__meta {
  color: $wra-secondary-text-colour;
}
